<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <!-- og tag -->
    <meta
            property="og:title"
            content="PETTY - 반려동물과 함께 떠나는 완벽한 여행"
    />
    <meta
            property="og:description"
            content="우리 아이(🐶🐱)와 여행을 떠나고 싶다면? PETTY가 최적의 숙소, 관광지, 음식점을 추천해 줄게요! 🐾"
    />
    <meta
            property="og:image"
            content="https://github.com/user-attachments/assets/42edc0f5-5e02-4709-97c5-3009ed6cdeb2"
    />

    <title layout:title-pattern="$CONTENT_TITLE$ | PETTY"></title>
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <link rel="stylesheet" th:href="@{/css/loading.css}" />
    <th:block layout:fragment="css"></th:block>
</head>
<body onclick="closeMenuOnClickOutside(event)">

<div th:replace="~{fragments/header :: mainHeader}"></div>
<div th:replace="~{fragments/navbar :: sideMenuContent}"></div>

<main layout:fragment="content">
</main>

<div th:replace="~{fragments/footer :: mainFooter}"></div>

<script th:src="@{/js/flow.js}"></script>

<th:block layout:fragment="script"></th:block>

</body>
</html>